.firstSection {
    margin-top: 5%;
    padding: 5%;
}

.firstCol {
    margin-top: 5%;
}

.partnerContainer {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.partnerContainer2 {
    padding-left: 5%;
}

.testimony {
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}